{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tailwindFunctions": ["cva"],
  "overrides": [
    {
      "files": "*.tsx"
    },
    {
      "files": "*.ts"
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
